.banner{
    height: 350px;
    background: #e65959;
    padding:10%;
    h1,p{
        text-align: center;
        font-family: 'Roboto Slab', serif;
    }

}

.banner-post{
    height: 180px;
    background: #2b377c;
    color:#fff;
    padding-top:3.5%;
    h1{
        text-align: center;
        font-family: 'Roboto Slab', serif;
    }

}